    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Restaurant
                        <strong>Accounts</strong>
                    </h2>
                    <hr>
                </div>

                <div class="col-md-6">
                    <table>
                    <tr>
                    <% @restaurants.each do |r| %>
                      <tr>
                          <td> <%= r.restaurant_name %> </td>
                          <td> <a href="restaurants/info/<%= r.id %>" class="btn btn-default"> details </a> </td>
                          <td> <a href="restaurants/info/<%= r.id %>/edit_registration" class="btn btn-primary"> edit </a> </td>
                          <td> <a href="restaurants/<%= r.id %>/deactivate" class="btn btn-danger"> deactivate </a></td>
                        </tr>
                    <% end %>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>



        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Customers
                        <strong>Accounts</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <table>

                    <tr>
                    <% Customer.all.each do |c| %>
                      <tr>
                          <td> <%= c.c_firstname %> <%= c.c_middlename %> <%= c.c_lastname + " " %> </td>
                          <td> <a href="cus/<%= c.id %>/homepage" class="btn btn-primary"> View Restaurants </a> </td>
						  <td> <a href="customers/<%= c.id %>/deactivate" class="btn btn-danger"> deactivate </a></td>
                        </tr>
                    <% end %>
                    </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>



         

    </div>
    <!-- /.container -->


