<%= form_for(@menutype, :url => {:action => "create"}) do |f| %>

	<%= f.label :menu_name %>
	<p><%= f.text_field :menu_name %></p>

	<%= f.label :restaurant_id %>
	<p><%= f.text_field :restaurant_id %></p>

    <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>

